<!doctype html>
<html lang="en">
	<head>
	<title>Rubiks Cube</title>
	<meta property="og:title" content="Rubiks Cube" />
	<meta property="og:site_name" content="Solving the puzzle - The hard way"/>
	<meta property="og:url" content="http://five-software.com/rubiks/" />
	<meta property="og:image" content="http://five-software.com/rubiks/rubiks.png" />
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
	<link rel=stylesheet href="css/base.css?v=30518"/>
	<script src="js/three/build/three.min.js?v=290318"></script>
	<script src="js/three/Detector.js?v=290318"></script>
	<script src="js/three/OrbitControls.js?v=120518"></script>
	<script src="js/Queue.js"></script>
	<script src="scripts/states.js?v=300518"></script>git
	<script src="scripts/rubiksCube.js?v=300518"></script>
	<script src="scripts/rubiksView.js?v=30518b"></script>
	<script src="scripts/rubiksSolver.js?v=300518"></script>
	<script src="js/angular/angular.min.js"></script>
	<script src="js/angular/angular-sanitize.min.js"></script>
	<script src="scripts/rubiksApp.js?v=300518"></script>
</head>
	<body  ng-app="rubiks-app" ng-controller="rubiks-controller as RUBIKS" ng-init="RUBIKS.start()" ng-class="{mobile: RUBIKS.isMobile, desktop: !RUBIKS.isMobile}" >

	 	<div id="ThreeJS" style="position: absolute; left:0; top:0; width: 100vw; height: 100vh" ></div>

		<div class="cube-control top"  ng-class="{'custom-mode':RUBIKS.isCustom , 'colorBlink':RUBIKS.colorBlink  }" >
			<div class="cube-button grey command"  ng-click="RUBIKS.scrumble()" ng-bind="RUBIKS.scrumbleButton"></div>
			<div class="cube-button grey command" ng-class="{'disabled': RUBIKS.scrumbling}" ng-click="!RUBIKS.scrumbling && RUBIKS.solve()" ng-bind="RUBIKS.solveButton"></div>
			<div class="cube-button grey command" ng-class="{'disabled': RUBIKS.scrumbling}" ng-click="!RUBIKS.scrumbling && RUBIKS.setCustom()" ng-bind="RUBIKS.customButton"></div>
			<span ng-if="RUBIKS.editorMode">
				<div class="stateEditor">
					<div class="cube-button command solver grey"  ng-click="RUBIKS.setPrevEditorState() ">&#9668;</div>
					<input class='editorInput' ng-keyup="$event.keyCode == 13 && RUBIKS.setEditorState()" type="text" ng-model="RUBIKS.currentState">
					<div class="cube-button command solver grey"  ng-click="RUBIKS.setNextEditorState()">&#9658;</div>
					<div class="cube-button grey command" ng-click="RUBIKS.setEditorState()">Go </div>
					<div class="clear-fix"></div>
				</div>
			</span>
			<span ng-show="RUBIKS.isCustom && !RUBIKS.solving ">
				<div class="cube-button white" ng-class="{'active':RUBIKS.colorActive['white']  }">
					<span class="cw" ng-click="RUBIKS.spin('u', 'white')"  ng-bind-html="RUBIKS.getCount('white')"></span>
				</div>
				<div class="cube-button green"  ng-class="{'active':RUBIKS.colorActive['green'] }">
					<span class="cw" ng-click="RUBIKS.spin('f', 'green')" ng-bind-html="RUBIKS.getCount('green')"></span></div>
				<div class="cube-button red"  ng-class="{'active':RUBIKS.colorActive['red'] }">
					<span class="cw" ng-click="RUBIKS.spin('r', 'red')"  ng-bind-html="RUBIKS.getCount('red')"></span>
				</div>
				<div class="cube-button blue"  ng-class="{'active':RUBIKS.colorActive['blue'] }">
					<span class="cw" ng-click="RUBIKS.spin('b', 'blue')"  ng-bind-html="RUBIKS.getCount('blue')"></span>
				</div>
				<div class="cube-button orange"  ng-class="{'active':RUBIKS.colorActive['orange'] }">
					<span class="cw" ng-click="RUBIKS.spin('l', 'orange')"  ng-bind-html="RUBIKS.getCount('orange')"></span></div>
				<div class="cube-button yellow"   ng-class="{'active':RUBIKS.colorActive['yellow'] }">
					<span class="cw" ng-click="RUBIKS.spin('d', 'yellow')"  ng-bind-html="RUBIKS.getCount('yellow')"></span>
				</div>
			</span>
			<span ng-show="RUBIKS.solving || RUBIKS.editorMode && RUBIKS.solution.length > 0">
				<div class="cube-button move"
					 ng-repeat = "m in RUBIKS.solution[RUBIKS.currentState]['moves'] track by $index "
					 ng-class="RUBIKS.getClass(m, $index)"
					 ng-bind="RUBIKS.getMove(m, RUBIKS.solution[RUBIKS.currentState]['cameraPosition'] )"
				></div>
			</span>

		</div>

		<div class="cube-control bottom" ng-show=" RUBIKS.solution.length > 0">
			<div ng-bind="RUBIKS.solution[RUBIKS.currentState]['stateName']"></div ><div ng-bind="RUBIKS.solution[RUBIKS.currentState]['cameraPosition']" ></div>
			<div class="cube-button command solver grey"  ng-click="RUBIKS.backOneStep()" title="Backward one state">&#9668;&#9668;</div>
			<div class="cube-button command solver grey"  ng-click="RUBIKS.backOneMove()" title="Backward one turn" >&#9668;</div>
			<div class="cube-button command solver grey"  ng-click="RUBIKS.nextMove(0)" title="Forward one turn">&#9658;</div>
			<div class="cube-button command solver grey" ng-click="RUBIKS.statePreview()" title="State preview">&#9658;&#9655;</div>
			<div class="cube-button command solver grey" ng-click="RUBIKS.nextState()" title="Go to next state">&#9658;&#9658;</div>
			<div class="cube-button command solver grey" ng-click="RUBIKS.runToEnd()" title="Run to the end">&#9658;&#9658;&#9658;</div>
		</div>
	</body>
</html>
